.edu-body {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}
.edu-body::before {
  content: "";
  position: absolute;
  background-color: rgb(216, 115, 0);
  height: 50%;
  width: 25%;
  border-radius: 50%;
  filter: blur(100px);
  right: -10px;
  bottom: -10%;
  animation: float 5s linear infinite;
}
@keyframes float {
  0% {
    right: -500px;
  }
  25% {
    right: 500px;
  }
  50% {
    right: 1000px;
  }
  75% {
    right: 2100px;
  }
  100% {
    right: 2200%;
  }
}
.edu-body::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 191, 216);
  height: 50%;
  width: 25%;
  border-radius: 50%;
  filter: blur(100px);
  left: -10px;
  top: -10%;
  animation: float-2 3s linear infinite;
}
@keyframes float-2 {
  0% {
    left: -500px;
  }
  25% {
    left: 500px;
  }
  50% {
    left: 1000px;
  }
  75% {
    left: 2100px;
  }
  100% {
    left: 2200%;
  }
}
.edu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}
.card-wrap::after,
.card-wrap::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    #ff4b4b,
    #6bc4ff,
    #8060ff,
    #59fb69,
    #f9f871,
    #ff4b4b
  );
  padding: 10px;
  z-index: -2;
}
.card-wrap::before {
  filter: blur(1.5rem);
}
.card-wrap {
  border: 1px solid black;
  height: 30%;
  width: 20%;
  margin: 0.5rem;
  padding: 10px;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform ease 0.5s;
  position: relative;
  z-index: 2;
}
.card{
    font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-wrap:hover {
  transform: scale(1.1);
}
.hover {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: inherit;
}

.card-wrap:nth-child(odd) {
  background-color: #949494;
  text-shadow: 1px 1px #fff;
}
.card-wrap:nth-child(even) {
  background-color: #3f3f3f;
  color: #ffffff;
  text-shadow: 1px 1px;
}
