@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: auto;
  z-index: 1;
}
.navbar ul {
  display: flex;
  width: 50%;
}
.navbar ul li {
  list-style: none;
  padding: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/home-image.jpeg");
  background-size: cover;
  transition: filter 1s ease;
  filter: blur(5px) grayscale(100);
  z-index: -1;
}
.home:hover::before {
  filter: blur(0px) grayscale(0);
}
.red {
  background-color: red;
  color: white;
}
.typewriter {
  color: green;
}

.about {
  height: 100%;
  width: 100vw;
  background-color: #686868;
  color: #fff;
  font-size: 1.5rem;
  overflow-y: scroll;
}
.about h1,
h3 {
  text-align: center;
  padding: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
}
.item-1 {
  background-color: #949494;
  padding: 50px;
}
.item-2 {
  background-color: #3f3f3f;
  padding: 50px;
}
.item-3 {
  background-color: #949494;
  padding: 50px;
}
.item-4 {
  padding: 50px;
  background-color: #3f3f3f;
  color: #fff;
}
.next-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #949494;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-size: 1.5rem;
}
.next-image {
  border-radius: 15px;
  opacity: 0.6;
  height: 300px;
  margin: 20px;
  width: 500px;
  background-image: url("./assets/next-page.jpeg");
  background-size: cover;
}

.left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.next-btn {
  background-color: #1e4578;
  color: white;
  border: none;
  box-shadow: 1px 1px 3px rgba(61, 5, 5, 0.5);
  font-size: large;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.edu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}
.edu-container::before {
  content: "";
  position: absolute;
  background-color: rgb(216, 115, 0);
  height: 50%;
  width: 25%;
  border-radius: 50%;
  filter: blur(100px);
  right: -10px;
  bottom: -10%;
  z-index: 0;
  animation: float 5s linear infinite;
}
@keyframes float {
  0% {
    right: -500px;
  }
  25% {
    right: 500px;
  }
  50% {
    right: 1000px;
  }
  75% {
    right: 2100px;
  }
  100% {
    right: 2200%;
  }
}
.edu-container::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 191, 216);
  height: 50%;
  width: 25%;
  border-radius: 50%;
  filter: blur(100px);
  left: -10px;
  top: -10%;
  z-index: 0;
  animation: float-2 3s linear infinite;
}
@keyframes float-2 {
  0% {
    left: -500px;
  }
  25% {
    left: 500px;
  }
  50% {
    left: 1000px;
  }
  75% {
    left: 2100px;
  }
  100% {
    left: 2200%;
  }
}
.card {
  border: 1px solid black;
  height: 30%;
  width: 20%;
  margin: 0.5rem;
  padding: 10px;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: transform ease 0.5s;
}
.card:hover {
  transform: scale(1.1);
}
.hover {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-1 {
  background-color: #949494;
  text-shadow: 1px 1px #fff;
}
.card-2 {
  background-color: #3f3f3f;
  color: #ffffff;
  text-shadow: 1px 1px #000;
}
.card-3 {
  background-color: #949494;
  text-shadow: 1px 1px #fff;
}
