@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
}
.navbar ul {
  display: flex;
  width: 50%;
}
.navbar ul li {
  list-style: none;
  padding: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/home-image.jpeg");
  background-size: cover;
  transition: filter 1s ease;
  filter: blur(5px) grayscale(100);
  z-index: -1;
}
.home:hover::before {
  filter: blur(5px) grayscale(0);
}
.red {
  background-color: red;
  color: white;
}
.typewriter {
  color: green;
}

.about {
  height: 100%;
  width: 100%;
  background-color: #441151;
  color: #fff;
  font-size: 1.5rem;
}
.about h1,
h3 {
  text-align: center;
  padding: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
}
.item-1 {
  background-color: #883677;
  padding: 50px;
}
.item-2 {
  background-color: #6b2466;
  padding: 50px;
}
.item-3 {
  background-color: #7e1142;
  padding: 50px;
}
.item-4 {
  padding: 50px;
  position: relative;
  color: darkblue;
  text-shadow: 2px 2px 3px #fff ;
  font-weight: bold;
}
.item-4::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./assets/beyond-work.jpeg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  filter: blur(5px);
  background-position: center;
  z-index: -1;
}
.item-5 {
  background-color: #441151;
  padding: 50px;
  text-align: center;
}
